body {
	background-color: #bd5e5a;
}

.tile_large {
	width: 95%;
	height: 1000px;
	padding: 2% auto;
	margin: 2%;
	background-color: #a9a8a4;
	color: #e3e0d7;
}

.tile {
	width: 95%;
	height: auto;
	padding: 2% auto;
	margin: 2%;
	background-color: #a9a8a4;
	color: #e3e0d7;
}
p {
	font-size: 16px bold;
	font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
}
h1 {
	text-align: center;
	color: #e3e0d7;
	font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
}
h2 {
	text-align: center;
	font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
}
.navbar {
	border-radius: 0;
	border: 0;
	background-color: #5d5d65;
	font-size: 20px;
	color: #e3e0d7;
}


#nav-list {
	margin-top: 15px;
	vertical-align: middle;
}

#nav-list a {
	text-align: center;
	color: #e3e0d7;
}

#nav-list a:hover {
	background: #d4cfb9;
	color: #5d5d65;
}
	
#nav-list a span {
	font-size: 1.8em;
} 